:where(html) {
  --cnvs-base-palette-azure-25: oklch(0.981 0.0129 221.69);
  --cnvs-base-palette-azure-50: oklch(0.9549 0.0295 223.87);
  --cnvs-base-palette-azure-100: oklch(0.932 0.0425 227.25);
  --cnvs-base-palette-azure-200: oklch(0.8594 0.0867 230.07);
  --cnvs-base-palette-azure-300: oklch(0.7991 0.107 239.24);
  --cnvs-base-palette-azure-400: oklch(0.7283 0.1377 242.63);
  --cnvs-base-palette-azure-500: oklch(0.6555 0.1553 244.47);
  --cnvs-base-palette-azure-600: oklch(0.5174 0.1257 243.24);
  --cnvs-base-palette-azure-700: oklch(0.4618 0.1098 242.11);
  --cnvs-base-palette-azure-800: oklch(0.3912 0.0855 237.05);
  --cnvs-base-palette-azure-900: oklch(0.3258 0.07 235.91);
  --cnvs-base-palette-azure-950: oklch(0.2496 0.0529 234.92);
  --cnvs-base-palette-azure-975: oklch(0.2138 0.0455 235.24);

  --cnvs-base-palette-dark-azure-25: oklch(0.15 0.0154 241.05);
  --cnvs-base-palette-dark-azure-50: oklch(0.18 0.0204 241.38);
  --cnvs-base-palette-dark-azure-100: oklch(0.22 0.0292 241.89);
  --cnvs-base-palette-dark-azure-200: oklch(0.3 0.0494 242.31);
  --cnvs-base-palette-dark-azure-300: oklch(0.4135 0.0793 243.69);
  --cnvs-base-palette-dark-azure-400: oklch(0.4804 0.0997 244.19);
  --cnvs-base-palette-dark-azure-500: oklch(0.5915 0.1261 244.47);
  --cnvs-base-palette-dark-azure-600: oklch(0.6902 0.1236 244.29);
  --cnvs-base-palette-dark-azure-700: oklch(0.7753 0.0799 244.12);
  --cnvs-base-palette-dark-azure-800: oklch(0.8448 0.0502 243.36);
  --cnvs-base-palette-dark-azure-900: oklch(0.9213 0.0212 243.19);
  --cnvs-base-palette-dark-azure-950: oklch(0.9488 0.0137 243.04);
  --cnvs-base-palette-dark-azure-975: oklch(0.9647 0.0094 243.09);

  --cnvs-base-palette-azure-A25: oklch(0.7465 0.1556 233.69 / 0.0591);
  --cnvs-base-palette-azure-A50: oklch(0.7347 0.1588 236.34 / 0.1374);
  --cnvs-base-palette-azure-A100: oklch(0.7185 0.164 239.78 / 0.2002);
  --cnvs-base-palette-azure-A200: oklch(0.7108 0.1666 241.32 / 0.4196);
  --cnvs-base-palette-azure-A300: oklch(0.6543 0.1794 248.76 / 0.5255);

  --cnvs-base-palette-dark-azure-A25: oklch(0.1328 0.0274 232.86 / 0.6675);
  --cnvs-base-palette-dark-azure-A50: oklch(0.1832 0.0424 240.65 / 0.4727);
  --cnvs-base-palette-dark-azure-A100: oklch(0.375 0.1032 248.89 / 0.2171);
  --cnvs-base-palette-dark-azure-A200: oklch(0.6921 0.1712 246.91 / 0.2147);
  --cnvs-base-palette-dark-azure-A300: oklch(0.7086 0.1624 245.75 / 0.4106);
}
