:where(html) {
  --cnvs-base-palette-green-25: oklch(0.9824 0.0282 148.77);
  --cnvs-base-palette-green-50: oklch(0.9655 0.0561 149.93);
  --cnvs-base-palette-green-100: oklch(0.9278 0.1024 149.88);
  --cnvs-base-palette-green-200: oklch(0.8506 0.1804 149.93);
  --cnvs-base-palette-green-300: oklch(0.7817 0.1928 150.67);
  --cnvs-base-palette-green-400: oklch(0.7014 0.1953 148.35);
  --cnvs-base-palette-green-500: oklch(0.6362 0.1974 145.47);
  --cnvs-base-palette-green-600: oklch(0.5069 0.1569 145.56);
  --cnvs-base-palette-green-700: oklch(0.4463 0.1422 144.58);
  --cnvs-base-palette-green-800: oklch(0.395 0.1155 147.62);
  --cnvs-base-palette-green-900: oklch(0.3197 0.0997 145.3);
  --cnvs-base-palette-green-950: oklch(0.2548 0.0796 145.23);
  --cnvs-base-palette-green-975: oklch(0.2118 0.0653 145.69);

  --cnvs-base-palette-dark-green-25: oklch(0.2051 0.029 145.97);
  --cnvs-base-palette-dark-green-50: oklch(0.238 0.0367 146.14);
  --cnvs-base-palette-dark-green-100: oklch(0.2741 0.0492 146.13);
  --cnvs-base-palette-dark-green-200: oklch(0.3545 0.0782 146.14);
  --cnvs-base-palette-dark-green-300: oklch(0.4821 0.1203 146.25);
  --cnvs-base-palette-dark-green-400: oklch(0.5496 0.1483 145.9);
  --cnvs-base-palette-dark-green-500: oklch(0.6541 0.1826 145.47);
  --cnvs-base-palette-dark-green-600: oklch(0.7414 0.179 145.48);
  --cnvs-base-palette-dark-green-700: oklch(0.8135 0.1754 145.34);
  --cnvs-base-palette-dark-green-800: oklch(0.8706 0.1675 145.79);
  --cnvs-base-palette-dark-green-900: oklch(0.9319 0.0522 145.44);
  --cnvs-base-palette-dark-green-950: oklch(0.9535 0.024 145.43);
  --cnvs-base-palette-dark-green-975: oklch(0.9659 0.0132 145.5);

  --cnvs-base-palette-green-A25: oklch(0.8667 0.2903 142.96 / 0.0708);
  --cnvs-base-palette-green-A50: oklch(0.8674 0.287 143.35 / 0.1452);
  --cnvs-base-palette-green-A100: oklch(0.8316 0.2727 143.63 / 0.2866);
  --cnvs-base-palette-green-A200: oklch(0.7946 0.2508 144.88 / 0.5964);
  --cnvs-base-palette-green-A300: oklch(0.7419 0.2214 146.85 / 0.7772);

  --cnvs-base-palette-dark-green-A25: oklch(0.3335 0.1103 143.35 / 0.1851);
  --cnvs-base-palette-dark-green-A50: oklch(0.8694 0.2808 143.26 / 0.0755);
  --cnvs-base-palette-dark-green-A100: oklch(0.8737 0.2658 143.88 / 0.1191);
  --cnvs-base-palette-dark-green-A200: oklch(0.8761 0.2557 144.58 / 0.2221);
  --cnvs-base-palette-dark-green-A300: oklch(0.8777 0.2488 145.32 / 0.3957);
}
