:where(html) {
  --cnvs-base-palette-magenta-25: oklch(0.9788 0.0186 325.49);
  --cnvs-base-palette-magenta-50: oklch(0.9637 0.0322 325.69);
  --cnvs-base-palette-magenta-100: oklch(0.9253 0.0627 329.34);
  --cnvs-base-palette-magenta-200: oklch(0.887 0.1029 327.44);
  --cnvs-base-palette-magenta-300: oklch(0.8067 0.1664 333.84);
  --cnvs-base-palette-magenta-400: oklch(0.7366 0.1977 341.56);
  --cnvs-base-palette-magenta-500: oklch(0.6557 0.2007 346.62);
  --cnvs-base-palette-magenta-600: oklch(0.5338 0.1829 344.19);
  --cnvs-base-palette-magenta-700: oklch(0.4641 0.1602 344.45);
  --cnvs-base-palette-magenta-800: oklch(0.4011 0.1269 344.4);
  --cnvs-base-palette-magenta-900: oklch(0.2966 0.095 343.2);
  --cnvs-base-palette-magenta-950: oklch(0.2332 0.0908 343.78);
  --cnvs-base-palette-magenta-975: oklch(0.2016 0.0706 345.97);

  --cnvs-base-palette-dark-magenta-25: oklch(0.15 0.0215 343.45);
  --cnvs-base-palette-dark-magenta-50: oklch(0.18 0.0283 343.48);
  --cnvs-base-palette-dark-magenta-100: oklch(0.22 0.0401 344.03);
  --cnvs-base-palette-dark-magenta-200: oklch(0.3 0.0674 343.74);
  --cnvs-base-palette-dark-magenta-300: oklch(0.4135 0.1049 344.7);
  --cnvs-base-palette-dark-magenta-400: oklch(0.4804 0.1299 345.86);
  --cnvs-base-palette-dark-magenta-500: oklch(0.5915 0.1629 346.62);
  --cnvs-base-palette-dark-magenta-600: oklch(0.6902 0.1585 346.26);
  --cnvs-base-palette-dark-magenta-700: oklch(0.7753 0.0799 346.29);
  --cnvs-base-palette-dark-magenta-800: oklch(0.8448 0.0482 346.29);
  --cnvs-base-palette-dark-magenta-900: oklch(0.9213 0.0195 346.11);
  --cnvs-base-palette-dark-magenta-950: oklch(0.9488 0.0123 346.19);
  --cnvs-base-palette-dark-magenta-975: oklch(0.9647 0.0084 346.52);

  --cnvs-base-palette-magenta-A25: oklch(0.7003 0.3221 328.17 / 0.0432);
  --cnvs-base-palette-magenta-A50: oklch(0.7012 0.3223 328.29 / 0.0745);
  --cnvs-base-palette-magenta-A100: oklch(0.6867 0.3067 334.11 / 0.153);
  --cnvs-base-palette-magenta-A200: oklch(0.697 0.3175 330.12 / 0.2393);
  --cnvs-base-palette-magenta-A300: oklch(0.6773 0.2958 338.87 / 0.4197);

  --cnvs-base-palette-dark-magenta-A25: oklch(0.1206 0.0517 343.15 / 0.5665);
  --cnvs-base-palette-dark-magenta-A50: oklch(0.2025 0.0848 349.06 / 0.2944);
  --cnvs-base-palette-dark-magenta-A100: oklch(0.6639 0.2647 351.73 / 0.0924);
  --cnvs-base-palette-dark-magenta-A200: oklch(0.7033 0.2358 346.59 / 0.2147);
  --cnvs-base-palette-dark-magenta-A300: oklch(0.7207 0.2191 345.98 / 0.4037);
}
