[data-brand='workday'] {
  --cnvs-brand-primary-25: var(--cnvs-base-palette-blue-25);
  --cnvs-brand-primary-50: var(--cnvs-base-palette-blue-50);
  --cnvs-brand-primary-100: var(--cnvs-base-palette-blue-100);
  --cnvs-brand-primary-200: var(--cnvs-base-palette-blue-200);
  --cnvs-brand-primary-300: var(--cnvs-base-palette-blue-300);
  --cnvs-brand-primary-400: var(--cnvs-base-palette-blue-400);
  --cnvs-brand-primary-500: var(--cnvs-base-palette-blue-500);
  --cnvs-brand-primary-600: var(--cnvs-base-palette-blue-600);
  --cnvs-brand-primary-700: var(--cnvs-base-palette-blue-700);
  --cnvs-brand-primary-800: var(--cnvs-base-palette-blue-800);
  --cnvs-brand-primary-900: var(--cnvs-base-palette-blue-900);
  --cnvs-brand-primary-950: var(--cnvs-base-palette-blue-950);
  --cnvs-brand-primary-975: var(--cnvs-base-palette-blue-975);

  --cnvs-brand-primary-A25: var(--cnvs-base-palette-blue-A25);
  --cnvs-brand-primary-A50: var(--cnvs-base-palette-blue-A50);
  --cnvs-brand-primary-A100: var(--cnvs-base-palette-blue-A100);
  --cnvs-brand-primary-A200: var(--cnvs-base-palette-blue-A200);
  --cnvs-brand-primary-A300: var(--cnvs-base-palette-blue-A300);

  --cnvs-brand-dark-primary-25: var(--cnvs-base-palette-dark-blue-25);
  --cnvs-brand-dark-primary-50: var(--cnvs-base-palette-dark-blue-50);
  --cnvs-brand-dark-primary-100: var(--cnvs-base-palette-dark-blue-100);
  --cnvs-brand-dark-primary-200: var(--cnvs-base-palette-dark-blue-200);
  --cnvs-brand-dark-primary-300: var(--cnvs-base-palette-dark-blue-300);
  --cnvs-brand-dark-primary-400: var(--cnvs-base-palette-dark-blue-400);
  --cnvs-brand-dark-primary-500: var(--cnvs-base-palette-dark-blue-500);
  --cnvs-brand-dark-primary-600: var(--cnvs-base-palette-dark-blue-600);
  --cnvs-brand-dark-primary-700: var(--cnvs-base-palette-dark-blue-700);
  --cnvs-brand-dark-primary-800: var(--cnvs-base-palette-dark-blue-800);
  --cnvs-brand-dark-primary-900: var(--cnvs-base-palette-dark-blue-900);
  --cnvs-brand-dark-primary-950: var(--cnvs-base-palette-dark-blue-950);
  --cnvs-brand-dark-primary-975: var(--cnvs-base-palette-dark-blue-975);

  --cnvs-brand-dark-primary-A25: var(--cnvs-base-palette-dark-blue-A25);
  --cnvs-brand-dark-primary-A50: var(--cnvs-base-palette-dark-blue-A50);
  --cnvs-brand-dark-primary-A100: var(--cnvs-base-palette-dark-blue-A100);
  --cnvs-brand-dark-primary-A200: var(--cnvs-base-palette-dark-blue-A200);
  --cnvs-brand-dark-primary-A300: var(--cnvs-base-palette-dark-blue-A300);
}
