@layer components.root {
  .Fallback {
    display: flex;
    flex-direction: column;
    gap: var(--cnvs-base-size-200);
    max-width: 28rem;
    text-align: center;
  }

  .Code {
    font: var(--cnvs-sys-type-subtext-md);
    letter-spacing: var(--cnvs-sys-letter-spacing-subtext-md);
    color: var(--cnvs-sys-color-fg-muted-default);
    word-break: break-all;
  }

  .StorybookLink {
    font: var(--cnvs-sys-type-subtext-lg);
    letter-spacing: var(--cnvs-sys-letter-spacing-subtext-lg);
    color: var(--cnvs-sys-color-fg-link-default);
  }

  .StorybookLink:hover {
    color: var(--cnvs-sys-color-fg-link-hover);
  }
}
