:where(html) {
  --airbnb-25: oklch(0.97 0.01 12);
  --airbnb-50: oklch(0.95 0.02 17.6);
  --airbnb-100: oklch(0.91 0.05 16.4);
  --airbnb-200: oklch(0.82 0.1 16.3);
  --airbnb-300: oklch(0.74 0.16 16.6);
  --airbnb-400: oklch(0.66 0.23 17.1);
  --airbnb-500: oklch(0.59 0.23 17.5);
  --airbnb-600: oklch(0.49 0.19 17.7);
  --airbnb-700: oklch(0.42 0.17 18.1);
  --airbnb-800: oklch(0.34 0.14 18.2);
  --airbnb-900: oklch(0.26 0.11 18.7);
  --airbnb-950: oklch(0.22 0.09 19.2);
  --airbnb-975: oklch(0.2 0.08 18.7);

  --dark-airbnb-25: oklch(0.15 0.027 16.68);
  --dark-airbnb-50: oklch(0.18 0.0356 17.51);
  --dark-airbnb-100: oklch(0.22 0.0505 17.33);
  --dark-airbnb-200: oklch(0.3 0.0848 17.32);
  --dark-airbnb-300: oklch(0.4135 0.1325 17.37);
  --dark-airbnb-400: oklch(0.4804 0.1649 17.44);
  --dark-airbnb-500: oklch(0.5915 0.2075 17.5);
  --dark-airbnb-600: oklch(0.6902 0.1703 17.53);
  --dark-airbnb-700: oklch(0.7753 0.0799 17.59);
  --dark-airbnb-800: oklch(0.8448 0.0523 17.61);
  --dark-airbnb-900: oklch(0.9213 0.0211 17.68);
  --dark-airbnb-950: oklch(0.9488 0.0134 17.75);
  --dark-airbnb-975: oklch(0.9647 0.0091 17.68);

  --airbnb-A25: oklch(0.5015 0.2047 27.64 / 0.0491);
  --airbnb-A50: oklch(0.5562 0.2281 29.24 / 0.0846);
  --airbnb-A100: oklch(0.6281 0.2574 28.86 / 0.1663);
  --airbnb-A200: oklch(0.6236 0.2553 28.54 / 0.3351);
  --airbnb-A300: oklch(0.6286 0.2568 27.84 / 0.5148);

  --dark-airbnb-A25: oklch(0.129 0.052 21.84 / 0.6286);
  --dark-airbnb-A50: oklch(0.2014 0.0815 24.35 / 0.4046);
  --dark-airbnb-A100: oklch(0.6171 0.2522 27.93 / 0.1234);
  --dark-airbnb-A200: oklch(0.6436 0.2422 22.95 / 0.2633);
  --dark-airbnb-A300: oklch(0.6525 0.2346 19.96 / 0.4827);
}
