:where(html) {

  --discord-25: oklch(0.98 0.01 275);
  --discord-50: oklch(0.96 0.02 271);
  --discord-100: oklch(0.91 0.04 272);
  --discord-200: oklch(0.83 0.09 274);
  --discord-300: oklch(0.74 0.13 273);
  --discord-400: oklch(0.66 0.18 273);
  --discord-500: oklch(0.58 0.21 274);
  --discord-600: oklch(0.49 0.21 274);
  --discord-700: oklch(0.42 0.21 274);
  --discord-800: oklch(0.34 0.2 275);
  --discord-900: oklch(0.26 0.16 275);
  --discord-950: oklch(0.22 0.14 276);
  --discord-975: oklch(0.2 0.13 275);

  --dark-discord-25: oklch(0.2051 0.0545 274.15);
  --dark-discord-50: oklch(0.238 0.0697 273.55);
  --dark-discord-100: oklch(0.2741 0.0933 273.7);
  --dark-discord-200: oklch(0.3545 0.1424 274);
  --dark-discord-300: oklch(0.4821 0.1453 273.85);
  --dark-discord-400: oklch(0.5496 0.1482 273.85);
  --dark-discord-500: oklch(0.6541 0.1513 274);
  --dark-discord-600: oklch(0.7414 0.1056 274);
  --dark-discord-700: oklch(0.8135 0.0664 274);
  --dark-discord-800: oklch(0.8706 0.0364 274.15);
  --dark-discord-900: oklch(0.9319 0.0125 274.15);
  --dark-discord-950: oklch(0.9535 0.0059 274.3);
  --dark-discord-975: oklch(0.9659 0.0033 274.15);

  --discord-A25: oklch(0.4879 0.289 264.11 / 0.0345);
  --discord-A50: oklch(0.5059 0.2772 263.7 / 0.0723);
  --discord-A100: oklch(0.4756 0.2712 263.93 / 0.1545);
  --discord-A200: oklch(0.4849 0.291 264.12 / 0.2913);
  --discord-A300: oklch(0.4737 0.2885 264.16 / 0.4356);

  --dark-discord-A25: oklch(0.4723 0.2991 264.52 / 0.1269);
  --dark-discord-A50: oklch(0.5071 0.276 266.7 / 0.1922);
  --dark-discord-A100: oklch(0.5208 0.2672 268.54 / 0.2803);
  --dark-discord-A200: oklch(0.5351 0.2584 271.28 / 0.4822);
  --dark-discord-A300: oklch(0.6206 0.2048 273.1 / 0.6616);
}
