:where(html) {
  --spotify-25: oklch(0.99 0.02 148);
  --spotify-50: oklch(0.97 0.05 148);
  --spotify-100: oklch(0.93 0.12 148);
  --spotify-200: oklch(0.85 0.19 148);
  --spotify-300: oklch(0.77 0.21 149);
  --spotify-400: oklch(0.69 0.19 149);
  --spotify-500: oklch(0.61 0.17 149);
  --spotify-600: oklch(0.51 0.14 150);
  --spotify-700: oklch(0.43 0.12 150);
  --spotify-800: oklch(0.34 0.09 150);
  --spotify-900: oklch(0.26 0.07 151);
  --spotify-950: oklch(0.22 0.06 151);
  --spotify-975: oklch(0.2 0.06 150);

  --dark-spotify-25: oklch(0.15 0.0194 148.85);
  --dark-spotify-50: oklch(0.18 0.0255 148.85);
  --dark-spotify-100: oklch(0.22 0.0363 148.85);
  --dark-spotify-200: oklch(0.3 0.0609 148.85);
  --dark-spotify-300: oklch(0.4135 0.0948 149);
  --dark-spotify-400: oklch(0.4804 0.1179 149);
  --dark-spotify-500: oklch(0.5915 0.1484 149);
  --dark-spotify-600: oklch(0.6902 0.1454 149.15);
  --dark-spotify-700: oklch(0.7753 0.0799 149.15);
  --dark-spotify-800: oklch(0.8448 0.0639 149.15);
  --dark-spotify-900: oklch(0.9213 0.0462 149.3);
  --dark-spotify-950: oklch(0.9488 0.0399 149.3);
  --dark-spotify-975: oklch(0.9647 0.0309 149.15);

  --spotify-A25: oklch(0.8668 0.2917 142.83 / 0.0461);
  --spotify-A50: oklch(0.8669 0.2914 142.86 / 0.1238);
  --spotify-A100: oklch(0.8622 0.2876 143.11 / 0.3109);
  --spotify-A200: oklch(0.7964 0.259 143.9 / 0.6001);
  --spotify-A300: oklch(0.7501 0.2239 146.84 / 0.875);

  --dark-spotify-A25: oklch(0.1321 0.0384 147.86 / 0.6655);
  --dark-spotify-A50: oklch(0.1836 0.0534 147.8 / 0.4702);
  --dark-spotify-A100: oklch(0.3767 0.1194 144.74 / 0.2173);
  --dark-spotify-A200: oklch(0.8721 0.2623 145.44 / 0.1539);
  --dark-spotify-A300: oklch(0.8772 0.2431 147.11 / 0.3012);
}
